.card{
    width: 300px;
    margin-top: 20px;
    border: 0;
    text-align: center;
    cursor: pointer;
    box-shadow: 10px 5px 10px 0px grey;
}

.card p{
    margin: 0;
}


.presentatori img{
    height: 500px;
    object-fit: cover;
    }



#discord{
    background-image: url(../img/sfondo\ discord\ glv.jpg);
    width: 100%;
    height: 400px;
}





    
    
